{% extends "base.html" %} {% block content %}


<!-- Contenido principal -->
<div class="container mt-5">
  <div class="text-center py-5 bg-white rounded shadow-sm border">
    <h1 class="mb-3">¡Bienvenido!</h1>

    <p class="text-muted mb-4">
        Gestione las novedades y solicitudes de mantenimiento de forma rápida.
    </p>

    <!-- Botones -->
    <div class="d-grid gap-2 d-md-block">
      <a href="{% url 'solicitudes:lista' %}" class="btn btn-primary btn-lg me-md-2">
        Lista de Solicitudes
      </a>

      <a href="{% url 'solicitudes:crear' %}" class="btn btn btn-success btn-lg"> Crear Nueva Solicitud </a>
    </div>
  </div>
</div>



{% endblock %}
