{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-lg-8">

            <!-- TARJETA PRINCIPAL -->

            <div class="card shadow-sm border-0 mb-4">

                <div class="card-body p-4">

                    <div class="d-flex justify-content-between align-items-center mb-4">

                        <h2 class="mb-0">
                            {{ solicitud.titulo }}
                        </h2>
                        <div class="d-flex gap-2">
                            <a href="{% url 'solicitudes:editar' id=solicitud.id %}">
                                <button class="btn btn-warning">
                                    Editar
                                </button>
                            </a>
                            <a href="{% url 'solicitudes:lista' %}">
                                <button class="btn btn-primary">
                                    Volver
                                </button>
                        </a>
                        </div>
                    </div>

                    <!-- DESCRIPCION -->

                    <div class="mb-4">

                        <h6 class="text-muted">
                            Descripción
                        </h6>

                        <p>
                            {{ solicitud.descripcion }}
                        </p>

                    </div>

                    <!-- INFORMACION -->

                    <div class="row">

                        <div class="col-md-6 mb-3">

                            <h6 class="text-muted">
                                Fecha de creación
                            </h6>

                            <p>
                                {{ solicitud.fecha_creacion | date:"d/m/Y"}}
                            </p>

                        </div>

                        <div class="col-md-6 mb-3">

                            <h6 class="text-muted">
                                Estado
                            </h6>

                            <span class="badge bg-primary">
                                {{ solicitud.get_estado_display | capfirst }}
                            </span>

                        </div>

                        <div class="col-md-6 mb-3">

                            <h6 class="text-muted">
                                Criticidad
                            </h6>

                            <span class="badge bg-danger">
                                {{ solicitud.get_criticidad_display }}
                            </span>

                        </div>

                        <div class="col-md-6 mb-3">

                            <h6 class="text-muted">
                                Activo
                            </h6>

                            <p>
                                {{ solicitud.activo }}
                            </p>

                        </div>

                        <div class="col-md-6 mb-3">

                            <h6 class="text-muted">
                                Sistema
                            </h6>

                            <p>
                                {{ solicitud.sistema_activo }}
                            </p>

                        </div>

                        <div class="col-md-6 mb-3">

                            <h6 class="text-muted">
                                Subsistema
                            </h6>

                            <p>
                                {{ solicitud.subsistema_activo }}
                            </p>

                        </div>

                    </div>

                </div>

            </div>

            <!-- HISTORIAL -->

            <div class="card shadow-sm border-0">

                <div class="card-body p-4">

                    <h4 class="mb-4">
                        Historial de seguimiento
                    </h4>

                    {% for s in solicitud.seguimientos.all %}

                        <div class="border rounded p-3 mb-3">

                            <p class="mb-2">
                                {{ s.comentario|safe }}
                            </p>

                            <small class="text-muted">
                                {{ s.fecha | date:"d/m/Y"}}
                            </small>

                        </div>

                    {% empty %}

                        <div class="alert alert-light border">
                            No hay seguimientos aún.
                        </div>

                    {% endfor %}

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}