{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Formulario para crear o editar una solicitud de mantenimiento, con campos para título, descripción, criticidad, activo, 
 sistema y componente. También incluye un área para agregar comentarios de seguimiento si la solicitud ya ha sido creada y no está pendiente. -->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-sm border-0">
                <!-- cuerpo del formulario, con un encabezado que cambia según si se está creando o editando una solicitud, y un formulario que se adapta a ambas situaciones. -->
                <div class="card-body p-4">
                    {% if solicitud %}
                        <div class="d-flex justify-content-between align-items-start mb-3">
                            <div>
                                <h3 class="mb-1">Editar Solicitud</h3>
                                <small class="text-muted">{{ solicitud.codigo }}</small>
                            </div>
                            <a href="{% url 'solicitudes:lista' %}" class="btn-close" aria-label="Volver"></a>
                        </div>
                    {% else %}
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h3 class="mb-0">Crear Solicitud</h3>
                            <a href="{% url 'solicitudes:lista' %}" class="btn-close" aria-label="Volver"></a>
                        </div>
                    {% endif %}
                    <form id="form-solicitud" method="POST"
                        {% if solicitud %}
                            action="{% url 'solicitudes:editar' id=solicitud.id %}"
                        {% else %}
                            action="{% url 'solicitudes:crear' %}"
                        {% endif %}
                    >
                        {% csrf_token %}
                        <!-- TITULO -->
                        <div class="mb-3">
                            <label class="form-label">Título</label>
                            {{ form.titulo }}
                        </div>
                        <!-- DESCRIPCION -->
                        <div class="mb-3">
                            <label class="form-label">Descripción</label>
                            {{ form.descripcion }}
                        </div>
                        <!-- FILA 1 -->
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Criticidad</label>
                                {{ form.criticidad }}
                            </div>
                        {% if request.user.rol == 'TECNICO' %}
                            <div class=" col-md-6 mb-3">
                                <label class="form-label">Activo</label>
                                <input type="text" class="form-control" 
                                    value="{{ request.user.activo_asignado.nombre }}" 
                                    disabled>
                                <input type="hidden" name="activo" value="{{ request.user.activo_asignado.id }}">
                            </div>
                        {% else %}
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Activo</label>
                                {{ form.activo }}
                            </div>
                        {% endif %}
                        </div>
                        <!-- FILA 2 -->
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Sistema</label>
                                {{ form.sistema_activo }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label class="form-label">Componente</label>
                                
                                {{ form.componente_activo }}
                            </div>
                        </div>
                        {% if solicitud and solicitud.estado != 'PENDIENTE' %}
                        
                            <hr>
                            <h5 class="mb-3">Agregar comentario</h5>
                            <div class="mb-3">
                                <textarea
                                    name="comentario"
                                    class="form-control"
                                    rows="3" 
                                    placeholder="Agrega un comentario de seguimiento..."></textarea>
                            </div>
                        {% endif %}
                        </form>
                        <!-- Botones de acción, que varían según el estado de la solicitud: si no existe, muestra un botón para guardar; 
                        si está pendiente, muestra un botón para iniciar el proceso; si está en proceso, 
                        muestra botones para actualizar y cerrar la orden. -->
                        <div class="d-flex gap-2 mt-3">
                        {% if not solicitud %}
                            <button form="form-solicitud" type="submit" class="btn btn-primary">
                                Guardar
                            </button>
                        {% elif solicitud.estado == 'PENDIENTE' %}
                            <form method="POST"
                                action="{% url 'solicitudes:cambiar_estado_en_proceso' solicitud.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">
                                    Iniciar proceso
                                </button>
                            </form>
                        {% elif solicitud.estado == 'EN_PROCESO' %}
                            <button form="form-solicitud" type="submit" class="btn btn-warning">
                                Actualizar
                            </button>

                            <a href="{% url 'solicitudes:cerrar' solicitud.id %}" class="btn btn-danger" >
                                Cerrar orden
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL SIMILITUD -->
<div class="modal fade" id="modalSimilitud" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0">
                <div class="d-flex align-items-center gap-2">
                    <i class="bi bi-exclamation-triangle" style="color: #fbbf24; font-size: 1.2rem;"></i>
                    <h5 class="modal-title fw-bold">Se encontraron solicitudes similares</h5>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p class="text-muted small mb-3">
                    Revisa las solicitudes similares antes de crear una nueva.
                </p>
                <div class="table-responsive">
                    <table class="table table-hover align-middle mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>Código</th>
                                <th>Título</th>
                                <th>Activo</th>
                                <th>Estado</th>
                                <th>Similitud</th>
                            </tr>
                        </thead>
                        <tbody id="tabla-similares">
                        </tbody>
                    </table>
                </div>

                <!-- Leyenda -->
                <div class="mt-3 d-flex gap-3 flex-wrap">
                    <small class="d-flex align-items-center gap-1">
                        <span style="width:10px;height:10px;border-radius:50%;background:#f87171;display:inline-block;"></span>
                        <span class="text-muted">&gt; 85% — Muy probable duplicado</span>
                    </small>
                    <small class="d-flex align-items-center gap-1">
                        <span style="width:10px;height:10px;border-radius:50%;background:#f97316;display:inline-block;"></span>
                        <span class="text-muted">70–85% — Posible duplicado</span>
                    </small>
                    <small class="d-flex align-items-center gap-1">
                        <span style="width:10px;height:10px;border-radius:50%;background:#fbbf24;display:inline-block;"></span>
                        <span class="text-muted">50–70% — Relacionado</span>
                    </small>
                </div>
            </div>
            <div class="modal-footer border-0 justify-content-between">
                <a  href="{% url 'solicitudes:lista' %}" type="button" class="btn btn-outline-secondary btn-sm">Volver a la lista</a>
                <button type="button" class="btn btn-primary btn-sm px-4" id="btn-continuar-de-todas-formas">
                    Continuar de todas formas
                </button>
            </div>
        </div>
    </div>
</div>

<div id="ajax-config"
    data-activo-id="{% if request.user.rol == 'TECNICO' and request.user.activo_asignado %}{{ request.user.activo_asignado.id }}{% endif %}"
    data-url-sistemas="/activos/ajax/sistemas/"
    data-url-componentes="/activos/ajax/componentes/"
    data-es-edicion="{% if solicitud %}true{% else %}false{% endif %}"
    data-url-similitud="{% url 'solicitudes:verificar_similitud' %}">
</div>

{% block extra_js %}
    <script src="{% static 'js/activos_ajax.js' %}"></script>
    <script src="{% static 'js/verificar_similitud.js' %}"></script>
{% endblock %}

{% endblock %}