{% extends "base.html" %}
{% block content %}

<h1>Lista de solicitudes</h1>

<ul>

{% for solicitud in solicitudes %}

    <li>

        <!-- DETALLE -->
        <a href="{% url 'solicitudes:solicitud' id=solicitud.id %}">
            <h2>{{ solicitud.titulo }}</h2>
        </a>

        <p>{{ solicitud.descripcion }}</p>
        <p>{{ solicitud.fecha_creacion }}</p>

        <!-- EDITAR -->
        <a href="{% url 'solicitudes:editar' id=solicitud.id %}">
            <button type="button">Editar</button>
        </a>

        <!-- ELIMINAR -->
        <form method="POST" action="{% url 'solicitudes:eliminar' solicitud.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit">Eliminar</button>
        </form>

    </li>

    <hr>

{% empty %}

    <li>No hay solicitudes disponibles.</li>

{% endfor %}

</ul>

{% endblock %}